<div class="row">
    <div class="col-md-12">

        <h2>Single Model</h2>

        <p>This record is loaded in our route's model hook with the following code:</p>

        <code>this.store.find( 'foo', params.model_id );</code>

        <br><br>
        <p>The model is loaded by the store via the ajax adapter.  The "/foo?id=1" resource contains an embedded "bar" record, and this record is automatically created as an instance of the "Bar" model.</p>

        <br>
        <h4>Foo Model</h4>

        <ul>
        <li>ID: {{model.id}}</li>
        <li>Text: {{model.text}}</li>
            <ul>
                <h4>Bar Model</h4>
                <li>ID: {{model.bar.id}}</li>
                <li>Text: {{model.bar.text}}</li>
            </ul>
        </ul>

        <br>
        <p>The original JSON for this resource:</p>

        <pre>
{
    id: 1,
    text: 'This is foo record with id: 1',
    bar: {
        id: 1,
        text: 'This is a bar record with id: 1'
    }
}
</pre>

    </div>
</div>