<p>Sl-Ember-Model is a Simple, Low level, Model layer for <a href="http://emberjs.com">Ember.js</a>. </p>
<p>It's easy to install via <a href="http://ember-cli.com">ember-cli</a>.</p>

<p>Example of a single model {{#link-to "singleModel" 1}}route{{/link-to}}</p>
<p>Example of an array of models {{#link-to "arrayOfModels"}}route{{/link-to}}</p>
