<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-store</h1>
        <p class="lead">An Ember CLI Addon to provide a model layer for an Ember application.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h3>{{#link-to "demos"}}<i class="fa fa-cubes fa-5x"></i>{{/link-to}}</h3>
        <p>{{#link-to "demos"}}<b>Demo</b>{{/link-to}}</p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-store/blob/master/README.md"><i class="fa fa-book fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-store/blob/master/README.md"><b>Documentation</b></a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-store"><i class="fa fa-github fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-store"><b>Available on GitHub</b></a></p>
    </div>
</div>